@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /* Colors */

    /* Primary */
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    /* Neutral */
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);

    /* Fonts */
    --font-size-p: 18px;
    --font-family: 'Outfit', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: var(--font-family);
    background-color: var(--Very-dark-blue-main-BG);
}

p{
    font-size: var(--font-size-p);
}

.white{
    color: var(--White);
}

.white:hover{
    cursor: pointer;
    color: var(--Cyan);
}

.container{
    width: 350px;
    background-color: var(--Very-dark-blue-card-BG);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 20px;

}
.image {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  
  .image:hover img {
    transform: scale(1.1);
  }
  
  .image:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsl(178, 100%, 50%, 0.5); 
    z-index: 1; 
  }
  
  .image:hover::after {
    content: url('../images/icon-view.svg'); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    z-index: 2;
  }
  

.heading{
    margin: 10px 0;
}
.heading h1{
    font-size: 25px;
    
}
.paragraph{
    margin: 15px 0;
}
.paragraph p{
    font-size: var(--font-size-p);
    color: var(--Soft-blue);
}

.price-date{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.date{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.date span{
    color: var(--Soft-blue);
    margin-left: 3px;
}
.price{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.price img{
    margin-right: 3px;
}

.price span{
    color: var(--Cyan);
}

.line{
    width: 300px;
    margin: 5px 0;
    border: 1px solid var(--Very-dark-blue-line);
}

.footer{
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 10px 0;
    display: flex;
    align-items: center;
}
.footer p{
    font-size: 15px;
}

.avatar img{
    border: 1px solid white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

.creation{
    font-size: 16px;
    color: var(--Soft-blue);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }